.dashboard-container {
  text-align: center;
  margin-top: 60px;
}

.dashboard-container h1 {
  color: #1e3a8a;
}

.dashboard-container p {
  margin-bottom: 40px;
}

.dashboard-container h2 {
  margin-bottom: 30px;
}

.module-card {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px lightgray;
  cursor: pointer;
  transition: 0.3s;
}

.module-card:hover {
  transform: scale(1.02);
}