.buttons {
  margin-top: 35px;
}

.login-btn {
  margin-left: 20px;
  background-color: white;
  color: #2563eb;
  border: 2px solid #2563eb;
}

.login-btn:hover {
  background-color: #2563eb;
  color: white;
}