.resume-container {
  width: 600px;
  margin: 60px auto;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 0px 10px lightgray;
  border-radius: 12px;
}

.resume-container h1 {
  margin-bottom: 20px;
}

.resume-container p {
  margin-bottom: 20px;
}

.resume-container input {
  margin-bottom: 20px;
}

.upload-box {
  border: 2px dashed gray;
  padding: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.resume-container button {
  padding: 12px 25px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.resume-container button:hover {
  background-color: #1d4ed8;
} 

.resume-container h3 {
  margin-top: 20px;
  color: green;
} 

.result-box {
  margin-top: 30px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px lightgray;
  text-align: left;
}

.result-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.result-box ul {
  margin-left: 20px;
}