.signup-container {
  width: 400px;
  margin: 80px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px lightgray;
  text-align: center;
}

.signup-container h1 {
  margin-bottom: 30px;
}

.signup-container input {
  width: 90%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid gray;
}

.signup-container button {
  width: 100%;
  padding: 12px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.signup-container button:hover {
  background-color: #1d4ed8;
}

.signup-container p {
  margin-top: 20px;
}