.why-container {
  margin-top: 80px;
  text-align: center;
}

.why-container h2 {
  color: #1e3a8a;
  margin-bottom: 40px;
}

.why-card {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}