* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f7fc;
  font-family: Arial, sans-serif;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e3a8a;
  color: white;
  padding: 18px 50px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  margin-left: 25px;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}