@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    background:#f8fafc;

    color:#1e293b;
}

a{
    text-decoration:none;
    color:inherit;
}

button{

    font-family:'Poppins',sans-serif;
}

:root{

    --primary:#7c3aed;
    --primary-dark:#6d28d9;

    --secondary:#2563eb;

    --background:#f8fafc;

    --white:#ffffff;

    --text:#1e293b;

    --gray:#64748b;

    --shadow:0 10px 25px rgba(0,0,0,.08);

    --radius:18px;

}